﻿@{
    ViewData["Title"] = "Информация о странах";
}

<div class="text-center">
    
</div>
<p>    
    <a asp-controller="Country" asp-action="getCountries">Вывод всех стран</a>
    
</p>

<form asp-controller="Country" asp-action="Get">
    <p>
        Поиск: <input type="text" name="Name">
        <input type="submit" value="Название" />
    </p>
</form>

