﻿@model InfoCountries.ModelViews.CountryDto
@{
    ViewData["Title"] = "Добавить страну";
}
<h1>Страна</h1>

<div>
    <h4>Общие сведения</h4>
    <hr />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Code" class="control-label"></label>
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Capital" class="control-label"></label>
            <input asp-for="Capital" class="form-control" />
            <span asp-validation-for="Capital" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Area" class="control-label"></label>
            <input asp-for="Area" class="form-control" />
            <span asp-validation-for="Area" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Population" class="control-label"></label>
            <input asp-for="Population" class="form-control" />
            <span asp-validation-for="Population" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Region" class="control-label"></label>
            <input asp-for="Region" class="form-control" />
            <span asp-validation-for="Region" class="text-danger"></span>
        </div>       
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <a asp-controller="Home" asp-action="Index">Отмена</a>
    </div>

</div>