﻿@model InfoCountries.ModelViews.CountryDto
@{
    ViewData["Title"] = "Информация о стране";
}
<h1>Страна</h1>

<div>

    <a asp-controller="Country" asp-action="Create" asp-route-name="@Model.Name">Добавить в базу данных</a>
    
        <a asp-controller="Home" asp-action="Index">Назад</a>
</div>

<div>
    <h4>Общие сведения</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capital)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capital)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Population)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Population)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
    </dl>
</div>