﻿@model  IEnumerable<string>
@{
    ViewData["Title"]="Все страны" ;
}

<h1>Список стран</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                Название страны
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>           


        </tr>
        }
    </tbody>
</table>